/ClientSocket/nbproject/private/
/JavaFX-Front/nbproject/private/
/JavaFX-Front-Preloader/nbproject/private/
/JavaFX-Front/build/
/JavaFX-Front-Preloader/dist/
/JavaFX-Front-Preloader/build/
/JavaFX-Front/dist/